<Menu inline>
  <MenuGroup>
      <MenuList>
        <MenuItem text="Item 1-1" />
        <MenuItem
          text="Item 1-2"
          textSecondary="Item with iconLeft"
          iconLeft={<IconSvg />}
        />
      </MenuList>

      <MenuList bordered>
        <MenuItem text="Item 2-1" />
        <MenuItem text="Item 2-2" />
      </MenuList>

    </MenuGroup>
</Menu>
