<IconCustom border rounded />

<IconCustom border rounded size="small" />

<IconCustom border rounded size="normal" />

<IconCustom border rounded size="large" />

<IconCustom border rounded size="xlarge" />
