<IconCustom border rounded colorScheme="light" />

<IconCustom border rounded colorScheme="dark" />

<IconCustom border rounded color="palevioletred" />

<IconCustom rounded color="palevioletred" backgroundColor="#ddd" />
