<IconCustom border rounded size="large" />

<IconCustom border rounded flip="horizontal" size="large" />

<IconCustom border rounded flip="vertical" size="large" />

<IconCustom border rounded rotate={45} size="large" />
