const alerts = [
  {
    buttons: [{
      text: 'close',
      colorScheme: 'flatLight',
      closeAlert: true,
    }],
    content: 'AlertArea content',
    timeout: 0,
  }
];

<AlertArea alerts={alerts} />
