const alerts = [
  {
    buttons: [
      {
        text: 'close',
        action: () => {},
        closeAlert: true,
      },
      {
        text: 'custom button',
        action: () => {},
        colorScheme: 'warning',
      },
    ],
    content: 'AlertArea content',
    vertical: true
  }
];

<AlertArea alerts={alerts} />
