const alerts = [
  {
    content: 'AlertArea content',
    buttons: [{
      text: 'close',
      colorScheme: 'flatLight',
      action: () => {},
      closeAlert: true,
    }]
  }
];

<AlertArea alerts={alerts} />
