<GridPaddingBox paddingSize="small">padding size: small</GridPaddingBox>
<GridPaddingBox paddingSize="medium">padding size: medium</GridPaddingBox>
<GridPaddingBox paddingSize="large">padding size: large</GridPaddingBox>
