<CircleProgress value={25} progressLabel progressSupplementText="Not dynamic color" />

<CircleProgress value={25} dynamicColor progressLabel progressSupplementText="With dynamic color" />

<CircleProgress value={50} dynamicColor progressLabel progressSupplementText="With dynamic color" />

<CircleProgress value={100} dynamicColor progressLabel progressSupplementText="With dynamic color" />
