<Accordion
  expandAll
  items = {[
    {
      id: '1',
      title: 'Accordion Item 1',
      content: [<div>Place here some data</div>],
    },
    {
      id: '2',
      title: 'Accordion Item 2',
      content: [<div>Place here some data</div>],
    }
  ]}
/>
