<LinearProgress
  value={25}
  progressLabel
  subtitle="Without dynamic color"
/>
<LinearProgress
  value={25}
  dynamicColor
  progressLabel
  subtitle="With dynamic color"
/>
<LinearProgress
  value={62}
  dynamicColor
  progressLabel
  subtitle="With dynamic color"
/>
<LinearProgress
  value={100}
  dynamicColor
  progressLabel
  subtitle="With dynamic color"
/>
