<LinearProgress
  value={25}
  progressLabel
  labelAlign="left"
  subtitle="labelAlign - left"
/>
<LinearProgress
  value={62}
  progressLabel
  labelAlign="right"
  subtitle="labelAlign - right"
/>
