<LinearProgress
  value={62}
  subtitle="Exact value label"
  progressLabel
  exactProgressLabel
/>

<LinearProgress
  value={62}
  subtitle="Exact value label with custom postfix"
  progressLabel
  exactProgressLabel
  labelPostfix=" ms"
/>
