<ToggleButton label="Sample ToggleButton" />

<ToggleButton label="Sample ToggleButton with right label" labelPosition="right" />

<ToggleButton label="ToggleButton with Tooltip" tooltip="yo-ho-ho!" />

<ToggleButton label="Disabled ToggleButton" disabled />
