<Tag text="simple tag" />

 <Tag
    text="simple tag with icon"
    icon={<IconDefault size="custom" color="currentColor" />}
  />

<Tag text="tag with tooltip" tooltipText="tooltip" />
<Tag text="removable tag" removable />

<Tag text="bounded tag with forbidden line wrapping." bounded tooltipText="bounded tag with forbidden line wrapping." />
