<IconSvg border rounded colorScheme="light" />

<IconSvg border rounded colorScheme="dark" />

<IconSvg border rounded color="palevioletred" />

<IconSvg rounded color="palevioletred" backgroundColor="#ddd" />
