<IconSvg border rounded size="large" />

<IconSvg border rounded flip="horizontal" size="large" />

<IconSvg border rounded flip="vertical" size="large" />

<IconSvg border rounded rotate={45} size="large" />
