import styled from 'styled-components';
import { iconSvgSizeMixin, IconSvg } from 'reactackle-icons';

const TestWrapper = styled.div`
  ${iconSvgSizeMixin('70px', '5px', '50px')}
`;

<TestWrapper>
  <IconSvg size="custom" border borderWidth={2} />
</TestWrapper>

