import styled from 'styled-components';
import { iconSvgSizeMixin } from 'reactackle-icon-custom';

const TestWrapper = styled.div`
  ${iconSvgSizeMixin('70px', '5px', '50px')}
`;

<TestWrapper>
  <IconSvg size="inherit" border borderWidth={2} />
</TestWrapper>

