<Dialog
  backdrop
  scrollable
  haveCloseButton
  title="Sample dialog"
  subtitle="Dialog subtitle"
  minWidth={300}
  dialogContentFlex
  regionAsideShow
  regionAside={
    <Icon name="map" />
  }
>
  <p>
    ..text
  </p>
</Dialog>
