<TextField placeholder="Enter you value..." label="Default TextField"/>
<TextField dense placeholder="Enter you value..." label="Dense TextField"/>
<TextField fullWidth placeholder="Enter you value..." label="Full-width TextField"/>
<TextField dense fullWidth placeholder="Enter you value..." label="Full-width dense TextField"/>
