<TextField
  defaultValue="bada boom!"
  type="password"
  message="At least 5 symbols length"
  label="Password TextField"
/>
<TextField
  defaultValue="clear me!"
  clearingIcon
  label="TextField with clearing button"
/>
<TextField
  placeholder="Enter something..."
  symbolLimit={5}
  clearingIcon
  label="TextField with symbol limit"
/>
<TextField
  placeholder="Enter your value..."
  label="TextField with tooltip"
  tooltip="Need help?"
/>
