import { IconDefault } from 'reactackle-icons';

<TextField
  placeholder="Enter you value..."
  iconOuter={IconDefault}
  label="TextField with iconOuter"
/>

<TextField
  placeholder="Enter you value..."
  iconInner={IconDefault}
  label="TextField with iconInner"
/>
