<TextField
  placeholder="Enter you value..."
  iconOuter={{ name: 'android' }}
  label="TextField with iconOuter"
/>

<TextField
  placeholder="Enter you value..."
  iconInner={{ name: 'cc-visa' }}
  label="TextField with iconInner"
/>
