<TextField
  placeholder="Enter your value..."
  label="label position top"
  labelPosition="top"
/>
<TextField
  placeholder="Enter your value..."
  label="Sliding label"
  labelPosition="top"
  slidingLabel
/>
<TextField
  placeholder="Enter your value..."
  label="label position side"
  labelPosition="side"
/>
