<TextField
  bordered
  placeholder="Auto resized TextField"
  multiline
  multilineRows={{ min: 3 }}
/>
<TextField
  bordered
  placeholder="Manual resized TextField"
  multiline
  multilineRows={{ min: 4 }}
  resize="manual"
/>
<TextField
  bordered
  placeholder="Multiline TextField with blocked resize"
  multiline
  multilineRows={{ min: 6 }}
  resize="none"
/>
