<Row>
  <Column
    size={{ xsmall: 6 }}
    layoutDirection="horizontal"
    mainAxisAlign="evenSpaceAround"
  >
    <div>layoutDirection</div>
    <div>horizontal</div>
  </Column>
  <Column
    size={{ xsmall: 6 }}
    layoutDirection="vertical"
    mainAxisAlign="evenSpaceAround"
  >
    <div>layoutDirection</div>
    <div>vertical</div>
  </Column>
</Row>
