<Tabs
  tabs={data}
  colorScheme="dark"
/>

<Tabs
  tabs={data}
  colorScheme="light"
/>

const data = [
  {
    isSelected: true,
    icon: 'amazon',
    text: 'Tab 1'
  },
  {
    isSelected: false,
    icon: 'android',
    text: 'Tab 2'
  },
  {
    isSelected: false,
    icon: 'adn',
    text: 'Tab 3'
  },
  {
    isSelected: false,
    text: 'Tab 4'
  },
  {
    linkhref: '',
    isSelected: false,
    icon: 'chrome'
  }
];
