<SelectBox
  value={this.state.value}
  options={data}
  placeholder={'Choose option...'}
  onChange={this._handleChange}
  label="label position: top"
/>

<SelectBox
  value={this.state.value}
  options={data}
  placeholder={'Choose option...'}
  onChange={this._handleChange}
  label="label position: side"
  labelPosition="side"
/>
