<Header
  condensedHeaderHeight={40}
  condenses
  keepCondensedHeader
  mode="fixed"
  backgroundColor="#3d4766"
  backgroundImage="example.com/image.png"
>
  <HeaderRegion verticalAlign="center">
    <HeaderTitle colorScheme="light">
      <div style={{ paddingTop: '60px' }}>
        Auto-hide header with visible part
      </div>
    </HeaderTitle>
  </HeaderRegion>
</Header>
