<LinearProgress value={25} progressLabel progressSupplementText="Not dynamic color" />

<LinearProgress value={25} dynamicColor progressLabel progressSupplementText="With dynamic color" />

<LinearProgress value={50} dynamicColor progressLabel progressSupplementText="With dynamic color" alignX="center" />

<LinearProgress value={100} dynamicColor progressLabel progressSupplementText="With dynamic color" alignX="right" />
