<Breadcrumbs
  mode="dark"
  items={
    [
      {
        title: 'Index',
        home: 'true',
        itemHref: 'index',
      },
      {
        title: 'Catalog',
        itemHref: 'catalog',
        isActive: true,
      },
    ]
  }
/>