<Breadcrumbs
  mode="dark"
  overflow={true}
  items={
    [
      {
        title: 'Index',
        home: true,
        itemHref: 'index',
      },
      {
        title: 'Catalog',
        itemHref: 'catalog'
      },
      
      { ... },
    
      {
        title: 'Item',
        itemHref: 'item',
        isActive: true
      }
    ]
  }
/>