<Breadcrumbs
  mode="dark"
  separatorType="text"
  separatorIcon="/"
  items={
    [
      {
        title: 'Index',
        home: true,
        itemHref: 'index',
      },
      {
        title: 'Catalog',
        itemHref: 'catalog'
      },
    ]
  }
/>
