<Button
  text="Inline Button"
  colorScheme="primary"
  size="inline"
  alternateTitle="alternate title"
/>

<Button
  text="Small Button"
  colorScheme="secondary"
  size="small"
/>

<Button
  text="Normal Button"
  colorScheme="info"
  size="normal"
/>

<Button
  text="Large Button"
  colorScheme="success"
  size="large"
/>
