<Button
  text="Button with zero radius"
  colorScheme="primary"
  radius="none"
/>

<Button
  text="Button default"
  colorScheme="secondary"
  radius="default"
/>

<Button
  text="Button rounded"
  colorScheme="info"
  radius="rounded"
/>
