<Button icon={{ name: 'apple' }} text="Flat Button" colorScheme="flat" />
<Button icon={{ name: 'apple' }} text="Flat Outlined Button" outlined colorScheme="flat" />
<Button icon={{ name: 'apple' }} text="Flat light Button" colorScheme="flatLight" />
<Button icon={{ name: 'apple' }} text="Flat light Outlined Button" outlined colorScheme="flatLight" />
<Button icon={{ name: 'apple' }} text="primary Button" colorScheme="primary" />
<Button icon={{ name: 'apple' }} text="primary Outlined Button" outlined colorScheme="primary" />
<Button icon={{ name: 'apple' }} text="white Button" colorScheme="white" />
<Button icon={{ name: 'apple' }} text="white Outlined Button" outlined colorScheme="white" />
