<Button
  text="Registration"
  subtitle="Next"
  colorScheme="primary"
  icon={{ name: 'arrow-right' }}
  iconPositionRight
/>

<Button
  text="Your Order"
  subtitle="Back"
  colorScheme="primary"
  icon={{ name: 'arrow-left' }}
/>
