<Button
  text="Link Button (inspect me)"
  colorScheme="primary"
  href="#/button/demo"
  icon={{ name: 'link' }}
/>

<Button
  text="Normal Button (inspect me)"
  colorScheme="secondary"
  icon={{ name: 'hand-pointer-o' }}
/>
