<CircleProgress
  value={25}
  progressLabel
  labelPositionX="left"
  subtitle="labelPositionX - left"
/>
<CircleProgress
  value={62}
  progressLabel
  labelPositionX="right"
  subtitle="labelPositionX - right"
/>
