<CircleProgress
  value={62}
  dynamicColor
  progressLabel
  labelPositionY="center"
/>
<CircleProgress
  value={50}
  dynamicColor
  progressLabel
  labelPositionY="bottom"
  subtitle="labelPositionY - bottom"
/>
