<Icon name="android" border rounded />

<Icon name="android" border rounded size="small" />

<Icon name="android" border rounded size="normal" />

<Icon name="android" border rounded size="large" />

<Icon name="android" border rounded size="normal" sizeMultiplier={2} />
