<Icon name="android" border rounded colorScheme="light" />

<Icon name="android" border rounded colorScheme="dark" />

<Icon name="android" border rounded color="palevioletred" />

<Icon name="android" rounded color="palevioletred" backgroundColor="#ddd" />
