<Icon name="bomb" border rounded />

<Icon name="bomb" border rounded flip="horizontal" />

<Icon name="bomb" border rounded flip="vertical" />

<Icon name="bomb" border rounded rotate={45} />

<Icon name="bomb" border rounded spin />

<Icon name="bomb" border rounded pulse />
