<Row layoutDirection="horizontal" expandRatio={2}>
  expandRatio="2"
</Row>
<Row layoutDirection="horizontal" expandRatio={1}>
  expandRatio="1"
</Row>
<Row layoutDirection="horizontal">
  expandRatio not set
</Row>
