<Checkbox
  tooltip="some tooltip"
  labelElement={
    <div>
      Label with <a href="#">some anchor</a>
    </div>
  }
/>
<Checkbox
  label="Disabled checkbox"
  errorMessage="Some error happened"
/>
